
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
  
	 <header th:fragment="header">
     	<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-control" content="no-cache" />
		<meta http-equiv="Cache" content="no-cache" />
		<meta name="renderer" content="webkit" />
		<meta name="author" content="TeleInfo" />
		<meta name="keywords"
			content="泰尔网信,泰尔信用,网站查询,域名查询,域名注册,搜官方,搜官网,网站靠谱,网站靠谱程度" />
		<meta name="description"
			content="泰尔网信是网站信用认证和信息发布平台，提供最权威的网站可信查询服务，及全方位的域名注册查询服务。泰尔网信是全球首款采取地址栏发布专利技术的产品，通过中文顶级域名“.信息”，实现互联网地址全覆盖。在地址栏中，任意域名后输入“.信息”，即可访问域名背后信息。例如，访问网址：baidu.com.信息" />
		<meta property="wb:webmaster" content="c9dafac5fb05ca50" />
		<title>泰尔网信 – 信任，因为真实！</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<!-- Bootstrap -->
		<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../static/css/main.min.css?v=3aebcacdf6" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		            <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		            <![endif]-->
		<link rel="stylesheet" href="../static/iconfont/iconfont.css" />
    </header>
   
  </body>
  
</html>

