
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479370980879'); /* IE9*/
  src: url('iconfont.eot?t=1479370980879#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479370980879') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479370980879') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479370980879#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duigou:before { content: "\e639"; }

.icon-xiala:before { content: "\e630"; }

.icon-fangzi-copy:before { content: "\e600"; }

.icon-xialalist:before { content: "\e613"; }

.icon-liulan:before { content: "\e622"; }

.icon-lianjie1:before { content: "\e606"; }

.icon-weixin:before { content: "\e605"; }

.icon-qq:before { content: "\e607"; }

.icon-xinlang:before { content: "\e608"; }

.icon-shoucang:before { content: "\e60c"; }

.icon-didian:before { content: "\e60f"; }

.icon-dianhua:before { content: "\e610"; }

.icon-youxiang:before { content: "\e612"; }

.icon-guanzhu:before { content: "\e614"; }

