                 <!--搜索结果个数-->
                <div class="module">
                    <div id="results-counts"  class="module-content p20 results-counts">
                        	搜索 <span>Teleinfo</span> 为你找到 <span>$!result.totalnum</span> 家符合条件的企业
                    </div>
                </div>
                 <!--结果列表-->
                <div class="module">
                    <div class="result-list-head">
                        <span>企业</span>
                        <!--  
                        <div class="focusd-status pull-right">状态</div>
                      <div class="company-status pull-right">状态</div>-->
                    </div>
                    <div class="module-content p0">
                    
                        <div id="result-list" class="result-list-content">

                        </div>
                        <div id="pagination-resultList" class="text-center"></div>
                    </div>
                </div>
