<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-control" content="no-cache"/>
    <meta http-equiv="Cache" content="no-cache"/>
    <meta name="renderer" content="webkit"/>
    <meta name="author" content="TeleInfo"/>
    <meta name="keywords" content="泰尔网信,泰尔信用,网站查询,域名查询,域名注册,搜官方,搜官网,网站靠谱,网站靠谱程度"/>
    <meta name="description" content="泰尔网信是网站信用认证和信息发布平台，提供最权威的网站可信查询服务，及全方位的域名注册查询服务。泰尔网信是全球首款采取地址栏发布专利技术的产品，通过中文顶级域名“.信息”，实现互联网地址全覆盖。在地址栏中，任意域名后输入“.信息”，即可访问域名背后信息。例如，访问网址：baidu.com.信息"/>
    <meta property="wb:webmaster" content="c9dafac5fb05ca50"/>
    <title>泰尔网信 – 信任，因为真实！</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/main.min.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css"/>
</head>
<body>
<header>
    <div class="container">
        <a class=" logo" href="http://www.telecredit.cn">
            <img src="../static/images/logo.png" alt="logo"/>
        </a>
        <div id="no-login" class="login-state">
            <a href="register.html">注册</a>
            <a href="login.html">登录</a>
        </div>
        <div id="already-login" class="login-state none">
            <a id="user-center" href="javascript:void(0)"><span>您好，</span><span id="user-name">18518135987</span><span><i class="iconfont icon-xiala"></i></span></a>
            <div id="header-list" class="header-list">
                <i class="iconfont icon-xialalist"></i>
                <ul>
                    <li><a href="">我的网信</a></li>
                    <li><a href="">我的关注</a></li>
                    <li><a href="setting.html">账号设置</a></li>
                    <li><a href="logout.html">退出登陆</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="main">
    <div class="container">
        <div class="no-url">
            <div class="noUrl-top">
                <div class="text-center">
                    <img src="../static/images/companyInfo/no-url.png" alt=""/>
                </div>
                <p>未找到 <span class="color"  th:text="${dataMap.host}">北京泰尔英福网络科技有限公司</span> 的信用信息</p>
                <p>请确认输入的企业名称是否正确</p>
            </div>
            <div class="noUrl-bottom">
                <p>浏览器地址栏输入“企业全程.信用.信息”，访问企业信用入口，查询企业信用情况。</p>
                <p>如：北京泰尔英福网络科技有限责任公司.信用.信息</p>
                <p>对于企业全称中包括"（）"的情况，请忽略"（）"输入，如：</p>
                <p>公司名称：阿里巴巴（中国）网络技术有限公司</p>
                <p>信用入口：阿里巴巴中国网络技术有限公司.信用.信息</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="bottom-info">
            <div class="web-info">
                <div class="contact-title">关于我们</div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6"><a href="http://www.telecredit.cn/service.html#about" target="_blank" title="关于我们">关于我们</a></div>
                            <div class="col-sm-6 text-left"><a href="http://www.telecredit.cn/service.html#operate" target="_blank" title="运营机构">运营机构</a></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6"><a href="http://www.telecredit.cn/service.html#privacy" target="_blank" title="隐私协议">隐私协议</a></div>
                            <div class="col-sm-6 text-left"><a href="http://www.telecredit.cn/service.html#help" target="_blank" title="帮助中心">帮助中心</a></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6"><a href="http://www.telecredit.cn/service.html#opinition" target="_blank" title="意见反馈">意见反馈</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="contact-title">联系我们</div>
                <div class="row">
                    <div class="col-sm-12">在线咨询：
                        <a class="qq-service" target="_blank" href="http://wpa.qq.com/msgrd?v=3amp;uin=3474248181amp;site=qqamp;menu=yes">
                            <img src="../static/images/qq.png" alt="qq咨询" title="点击QQ咨询"/>
                        </a>
                    </div>
                    <div class="col-sm-12">QQ群：371997390</div>
                    <div class="col-sm-12">合作邮箱：<a href="mailto:telecredit@telecredit.cn">telecredit@teleinfo.cn</a></div>
                </div>
            </div>
            <div class="data-source">
                <div class="contact-title">数据来源</div>
                <div class="row">
                    <div class="col-sm-12">工业和信息化部ICP/IP地址/域名信息备案管理系统</div>
                    <div class="col-sm-12">
                        <span>全国企业信用公示系统</span>
                        <span class="pull-right">
                                    全球域名注册数据库&nbsp;&nbsp;
                                </span>
                    </div>
                    <div class="col-sm-12 ">网上名称《标识证书》公示平台</div>
                </div>
            </div>
            <div class="code-img">
                <div class="contact-title">微信公众号</div>
                <div class="row">
                    <div class="col-sm-12">
                        <img src="../static/images/qr-code.png" alt="二维码"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copy-right">
        &copy; 版权所有：<a href="http://www.caict.ac.cn" title="中国信息通信研究院" target="_blank">中国信息通信研究院（CAICT）</a>、
        <a href="http://www.teleinfo.cn" title="北京泰尔英福网络科技有限责任公司" target="_blank">北京泰尔英福网络科技有限责任公司（TELEINFO）</a>
    </div>
</footer>
<script src="../static/js/lib/jquery.min.js"></script>
</body>
</html>
<script>
    if ($(".main").length != 0) {
        function resize() {
            var nowHeight = $(window).outerHeight() - $("header").outerHeight() - $("footer").outerHeight() - $(".bottom-contact").outerHeight()-100;
            $(".main").css("min-height", nowHeight);
        }
        resize();
        $(window).on("resize", function () {
            resize();
        });
    }
</script>